{% extends 'core/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Daily Log</title>
</head>
<body>
    <h2>Add Your Daily Log (fields left blank will count as meal skips)</h2>
    <form method="post" action="{% url 'add_daily_log' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock %}
