{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
        <h1>Welcome, {{ user.username }}!</h1>
        <p>Manage your fitness goals and check your progress.</p>
    {% else %} 
        <h1>Welcome to CalorAI!</h1>
        <p>You need to <a href="{% url 'login' %}">log in</a> to manage your entries.</p>
    {% endif %}
</div>
{% endblock %}

{% block extra_css %}
<style>
    .container {
        text-align: center;
        margin-top: 50px;
    }
    h1 {
        font-size: 2.5em;
        color: #333;
    }
    p {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 5px;
    }
    .btn:hover {
        background-color: #0257b1;
    }
</style>
{% endblock %}
